<div class="container-fluid relative-container">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="center-block text-center text-persona-header">
            <span class="highlighter">Relasi dengan Tipe Lain</span>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 center-block">
            <div class="text-center headText pos-0">
                {{detailCtrl.current}}
            </div>
        </div>
        <div class="col-xs-12 center-block">
            <div class="text-center headText pos-0">
                &amp;
            </div>
        </div>
        <div class="col-xs-12">
            <div class="center-block">
                <ul class="num-carousel">
                    <li class="text-center headText persona-dark-text pos-3">
                        <a ng-click="detailCtrl.setRelationNumber(-3)">
                            {{detailCtrl.relationNumberChecker(-3)}}
                        </a>
                    </li>
                    <li class="text-center headText persona-dark-text pos-2">
                        <a ng-click="detailCtrl.setRelationNumber(-2)">
                            {{detailCtrl.relationNumberChecker(-2)}}
                        </a>
                    </li>
                    <li class="text-center headText persona-dark-text pos-1">
                        <a ng-click="detailCtrl.setRelationNumber(-1)">
                            {{detailCtrl.relationNumberChecker(-1)}}
                        </a>
                    </li>
                    <li class="text-center headText persona-dark-text pos-0">
                        {{detailCtrl.currentRelation}}
                    </li>
                    <li class="text-center headText persona-dark-text pos-1">
                        <a ng-click="detailCtrl.setRelationNumber(1)">
                            {{detailCtrl.relationNumberChecker(1)}}
                        </a>
                    </li>
                    <li class="text-center headText persona-dark-text pos-2">
                        <a ng-click="detailCtrl.setRelationNumber(2)">
                            {{detailCtrl.relationNumberChecker(2)}}
                        </a>
                    </li>
                    <li class="text-center headText persona-dark-text pos-3">
                        <a ng-click="detailCtrl.setRelationNumber(3)">
                            {{detailCtrl.relationNumberChecker(3)}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row relation-container center-block">
        <div class="col-xs-12 col-sm-6">
            <div class="relation-box">
                <div class="relation-header ng-class:{
                'instinct': detailCtrl.type == 1,
                'feeling': detailCtrl.type == 2,
                'thinking': detailCtrl.type == 3}">
                    <h4 class="text-center persona-light-text">
                    Hal yang kusukai dari Tipe {{detailCtrl.currentRelation}}
                    </h4>
                </div>
                <div class="relation-content">
                    <p class="text-center persona-dark-text">
                        {{detailCtrl.relationsData[detailCtrl.current-1].paragraphs[detailCtrl.currentRelation-1].good[0]}}
                    </p>
                </div>
                <div class="relation-content-dark">
                    <p class="text-center persona-dark-text">
                        {{detailCtrl.relationsData[detailCtrl.current-1].paragraphs[detailCtrl.currentRelation-1].good[1]}}
                    </p>
                </div>
                <div class="relation-content">
                    <p class="text-center persona-dark-text">
                        {{detailCtrl.relationsData[detailCtrl.current-1].paragraphs[detailCtrl.currentRelation-1].good[2]}}
                    </p>
                </div>
                <div class="relation-content-dark relation-last">
                    <p class="text-center persona-dark-text">
                        {{detailCtrl.relationsData[detailCtrl.current-1].paragraphs[detailCtrl.currentRelation-1].good[3]}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="relation-box">
                <div class="relation-header 
                ng-class:{'instinct': detailCtrl.type == 1,
                'feeling': detailCtrl.type == 2,
                'thinking': detailCtrl.type == 3}">
                    <h4 class="text-center persona-light-text">
                    Hal yang tidak kusukai dari Tipe {{detailCtrl.currentRelation}}
                    </h4>
                </div>
                <div class="relation-content">
                    <p class="text-center persona-dark-text">
                        {{detailCtrl.relationsData[detailCtrl.current-1].paragraphs[detailCtrl.currentRelation-1].bad[0]}}
                    </p>
                </div>
                <div class="relation-content-dark">
                    <p class="text-center persona-dark-text">
                        {{detailCtrl.relationsData[detailCtrl.current-1].paragraphs[detailCtrl.currentRelation-1].bad[1]}}
                    </p>
                </div>
                <div class="relation-content">
                    <p class="text-center persona-dark-text">
                        {{detailCtrl.relationsData[detailCtrl.current-1].paragraphs[detailCtrl.currentRelation-1].bad[2]}}
                    </p>
                </div>
                <div class="relation-content-dark relation-last">
                    <p class="text-center persona-dark-text">
                        {{detailCtrl.relationsData[detailCtrl.current-1].paragraphs[detailCtrl.currentRelation-1].bad[3]}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="left-relation-pic hidden-xs hidden-sm visible-md visible-lg">
        <img ng-src={{detailCtrl.relationsData[detailCtrl.current-1].image}} class="img-responsive">
    </div>
    <div class="right-relation-pic hidden-xs hidden-sm visible-md visible-lg">
        <img ng-src={{detailCtrl.rightImages.images[detailCtrl.currentRelation-1]}} class="img-responsive">
    </div>
</div>