<div class="container quizContainer">
  <div class="row">
    <div class="col-xs-12 quizHeader">
      <h3 class="text-center">Gender Kamu?</h3>
    </div>
  </div>
  <div class="row chooser quizContent">
    <input type="radio" name="gender" value="" checked="checked" />
    <div class="col-xs-6">
      <label class="left-gender-content" ng-click="quiz.start(0)">
        
        <img class="img-responsive center-block" src="./assets/images/illus/gender/male.png">
      </label>
    </div>
    <div class="col-xs-6">
      <label class="right-gender-content" ng-click="quiz.start(1)">
        
        <img class="img-responsive center-block" src="./assets/images/illus/gender/female.png">
      </label>
    </div>
  </div>
</div>